[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
flake8 = "*"

[packages]
pandas = "*"
python-stdnum = "*"
xlrd = "*"

[requires]
python_version = "3.7"
