certifi==2020.6.20
chardet==3.0.4
idna==2.10
langid==1.1.6
numpy==1.19.4
pandas==1.1.4
pycountry==19.8.18
python-dateutil==2.8.1
python-stdnum==1.14
pytz==2020.4
requests==2.24.0
requests-cache==0.5.2
six==1.15.0
urllib3==1.25.11
xlrd==1.2.0
